@media only screen and (min-width: 601px){
.Bottom__Navbar__Items{
    list-style-type: none;
    display: flex;
}

.Icons__Bottoms{
  font-size: 25px;
  margin: 0 0 10px 0;
}

.Bottom__Heading{
    justify-content: start;
    text-align: start;
    margin-left: 50px;
}
.All_Items{
    display: none;
}


}

@media only screen and (max-width: 600px){
    .Bottom__Navbar__Items{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 0 130px;
        padding: -50px 0;
    }
    
    .Icons__Bottoms{
      font-size: 25px;
      margin: 0 0 10px 0;
    }
    
    .Bottom__Heading{
        justify-content: start;
        text-align: start;
        margin-left: 110px;

    }

    .All_Items{
        display: flex;
        flex-direction: column;
    }
    
    
}

